.product_list__container {
  height: 100%;
  min-height: 100vh;
}

.shoes_list__container {
  height: 52%;
}

.button__container {
  width: 100%;
  margin-right: 10px;
  margin-top: 25px;
  float: right;
  margin-right: 10%;
  margin-bottom: 20px;
}

.pagination__container {
  margin-bottom: 5%;
}
